<h1>Editing event</h1>

<%= render 'form' %>

<div>
	<%= button_to 'Back', events_path, class: "btn btn-black btn-primary", style: "float: left; display: block; margin-left: 10px", method: :get %>
</div>
