<section class="content">
  <h1 style="font-size:40px; color: #0C0F2E; font-weight: 600; text-align: center">Listing events</h1><br/ ><br/ >
  <div class="row">
    <table class="table table-striped dataTable">
      <thead>
        <tr class="bg-box-red">
          <th style="font-size:18px;">Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @events.sort.sort_by { |event| event.id }.each do |event| %>
          <tr class="bg-box-color">
            <td style="font-size:20px; font-family: blagovest; font-weight: 800; color: #151626;"><%= event.name %></td>
            <td style="width:70px"><%= button_to 'Edit', edit_event_path(event), class: "btn btn-warning btn-primary", method: :get %></td>
            <td style="width:70px"><%= button_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-flat" %></td>
        </tr>
          <% end %>
      </tbody>
    </table>
    <%= button_to 'New Event', new_event_path, class: "btn btn-primary", method: :get %>
  </div>
</section>
