<h1>New destination</h1>

<%= render 'form' %>

<div>
  <%= link_to 'Back', destinations_path, class: "btn btn-black btn-primary", style: "float: left; display: block; margin-left: 10px", method: :get %>
</div>
