.bg-box-color td {
  background-color: #DDDDDD !important;
}

.bg-box-green th {
  background-color: #00a65a !important;
  font-size: 18px;
}

.bg-box-purple th {
  background-color: #605ca8 !important;
  font-size: 18px;
}

.bg-box-red th {
  background-color: #dd4b39 !important;
  font-size: 18px;
}

.bg-box-yellow th {
  background-color: #f39c12 !important;
  font-size: 18px;
}

.bg-box-light-blue th {
  background-color: #3c8dbc !important;
  font-size: 18px;
}
